.w-20 {
  min-width: 20px;
}

.w-21 {
  min-width: 21px;
}

.w-22 {
  min-width: 22px;
}

.w-23 {
  min-width: 23px;
}

.w-24 {
  min-width: 24px;
}

.w-25 {
  min-width: 25px;
}

.w-26 {
  min-width: 26px;
}

.w-27 {
  min-width: 27px;
}

.w-28 {
  min-width: 28px;
}

.w-29 {
  min-width: 29px;
}

.w-30 {
  min-width: 30px;
}

.w-31 {
  min-width: 31px;
}

.w-32 {
  min-width: 32px;
}

.w-33 {
  min-width: 33px;
}

.w-34 {
  min-width: 34px;
}

.w-35 {
  min-width: 35px;
}

.w-36 {
  min-width: 36px;
}

.w-37 {
  min-width: 37px;
}

.w-38 {
  min-width: 38px;
}

.w-39 {
  min-width: 39px;
}

.w-40 {
  min-width: 40px;
}

.w-41 {
  min-width: 41px;
}

.w-42 {
  min-width: 42px;
}

.w-43 {
  min-width: 43px;
}

.w-44 {
  min-width: 44px;
}

.w-45 {
  min-width: 45px;
}

.w-46 {
  min-width: 46px;
}

.w-47 {
  min-width: 47px;
}

.w-48 {
  min-width: 48px;
}

.w-49 {
  min-width: 49px;
}

.w-50 {
  min-width: 50px;
}

.w-51 {
  min-width: 51px;
}

.w-52 {
  min-width: 52px;
}

.w-53 {
  min-width: 53px;
}

.w-54 {
  min-width: 54px;
}

.w-55 {
  min-width: 55px;
}

.w-56 {
  min-width: 56px;
}

.w-57 {
  min-width: 57px;
}

.w-58 {
  min-width: 58px;
}

.w-59 {
  min-width: 59px;
}

.w-60 {
  min-width: 60px;
}

.w-61 {
  min-width: 61px;
}

.w-62 {
  min-width: 62px;
}

.w-63 {
  min-width: 63px;
}

.w-64 {
  min-width: 64px;
}

.w-65 {
  min-width: 65px;
}

.w-66 {
  min-width: 66px;
}

.w-67 {
  min-width: 67px;
}

.w-68 {
  min-width: 68px;
}

.w-69 {
  min-width: 69px;
}

.w-70 {
  min-width: 70px;
}

.w-71 {
  min-width: 71px;
}

.w-72 {
  min-width: 72px;
}

.w-73 {
  min-width: 73px;
}

.w-74 {
  min-width: 74px;
}

.w-75 {
  min-width: 75px;
}

.w-76 {
  min-width: 76px;
}

.w-77 {
  min-width: 77px;
}

.w-78 {
  min-width: 78px;
}

.w-79 {
  min-width: 79px;
}

.w-80 {
  min-width: 80px;
}

.w-81 {
  min-width: 81px;
}

.w-82 {
  min-width: 82px;
}

.w-83 {
  min-width: 83px;
}

.w-84 {
  min-width: 84px;
}

.w-85 {
  min-width: 85px;
}

.w-86 {
  min-width: 86px;
}

.w-87 {
  min-width: 87px;
}

.w-88 {
  min-width: 88px;
}

.w-89 {
  min-width: 89px;
}

.w-90 {
  min-width: 90px;
}

.w-91 {
  min-width: 91px;
}

.w-92 {
  min-width: 92px;
}

.w-93 {
  min-width: 93px;
}

.w-94 {
  min-width: 94px;
}

.w-95 {
  min-width: 95px;
}

.w-96 {
  min-width: 96px;
}

.w-97 {
  min-width: 97px;
}

.w-98 {
  min-width: 98px;
}

.w-99 {
  min-width: 99px;
}

.w-100 {
  min-width: 100px;
}

.w-101 {
  min-width: 101px;
}

.w-102 {
  min-width: 102px;
}

.w-103 {
  min-width: 103px;
}

.w-104 {
  min-width: 104px;
}

.w-105 {
  min-width: 105px;
}

.w-106 {
  min-width: 106px;
}

.w-107 {
  min-width: 107px;
}

.w-108 {
  min-width: 108px;
}

.w-109 {
  min-width: 109px;
}

.w-110 {
  min-width: 110px;
}

.w-111 {
  min-width: 111px;
}

.w-112 {
  min-width: 112px;
}

.w-113 {
  min-width: 113px;
}

.w-114 {
  min-width: 114px;
}

.w-115 {
  min-width: 115px;
}

.w-116 {
  min-width: 116px;
}

.w-117 {
  min-width: 117px;
}

.w-118 {
  min-width: 118px;
}

.w-119 {
  min-width: 119px;
}

.w-120 {
  min-width: 120px;
}

.w-121 {
  min-width: 121px;
}

.w-122 {
  min-width: 122px;
}

.w-123 {
  min-width: 123px;
}

.w-124 {
  min-width: 124px;
}

.w-125 {
  min-width: 125px;
}

.w-126 {
  min-width: 126px;
}

.w-127 {
  min-width: 127px;
}

.w-128 {
  min-width: 128px;
}

.w-129 {
  min-width: 129px;
}

.w-130 {
  min-width: 130px;
}

.w-131 {
  min-width: 131px;
}

.w-132 {
  min-width: 132px;
}

.w-133 {
  min-width: 133px;
}

.w-134 {
  min-width: 134px;
}

.w-135 {
  min-width: 135px;
}

.w-136 {
  min-width: 136px;
}

.w-137 {
  min-width: 137px;
}

.w-138 {
  min-width: 138px;
}

.w-139 {
  min-width: 139px;
}

.w-140 {
  min-width: 140px;
}

.w-141 {
  min-width: 141px;
}

.w-142 {
  min-width: 142px;
}

.w-143 {
  min-width: 143px;
}

.w-144 {
  min-width: 144px;
}

.w-145 {
  min-width: 145px;
}

.w-146 {
  min-width: 146px;
}

.w-147 {
  min-width: 147px;
}

.w-148 {
  min-width: 148px;
}

.w-149 {
  min-width: 149px;
}

.w-150 {
  min-width: 150px;
}

.w-151 {
  min-width: 151px;
}

.w-152 {
  min-width: 152px;
}

.w-153 {
  min-width: 153px;
}

.w-154 {
  min-width: 154px;
}

.w-155 {
  min-width: 155px;
}

.w-156 {
  min-width: 156px;
}

.w-157 {
  min-width: 157px;
}

.w-158 {
  min-width: 158px;
}

.w-159 {
  min-width: 159px;
}

.w-160 {
  min-width: 160px;
}

.w-161 {
  min-width: 161px;
}

.w-162 {
  min-width: 162px;
}

.w-163 {
  min-width: 163px;
}

.w-164 {
  min-width: 164px;
}

.w-165 {
  min-width: 165px;
}

.w-166 {
  min-width: 166px;
}

.w-167 {
  min-width: 167px;
}

.w-168 {
  min-width: 168px;
}

.w-169 {
  min-width: 169px;
}

.w-170 {
  min-width: 170px;
}

.w-171 {
  min-width: 171px;
}

.w-172 {
  min-width: 172px;
}

.w-173 {
  min-width: 173px;
}

.w-174 {
  min-width: 174px;
}

.w-175 {
  min-width: 175px;
}

.w-176 {
  min-width: 176px;
}

.w-177 {
  min-width: 177px;
}

.w-178 {
  min-width: 178px;
}

.w-179 {
  min-width: 179px;
}

.w-180 {
  min-width: 180px;
}

.w-181 {
  min-width: 181px;
}

.w-182 {
  min-width: 182px;
}

.w-183 {
  min-width: 183px;
}

.w-184 {
  min-width: 184px;
}

.w-185 {
  min-width: 185px;
}

.w-186 {
  min-width: 186px;
}

.w-187 {
  min-width: 187px;
}

.w-188 {
  min-width: 188px;
}

.w-189 {
  min-width: 189px;
}

.w-190 {
  min-width: 190px;
}

.w-191 {
  min-width: 191px;
}

.w-192 {
  min-width: 192px;
}

.w-193 {
  min-width: 193px;
}

.w-194 {
  min-width: 194px;
}

.w-195 {
  min-width: 195px;
}

.w-196 {
  min-width: 196px;
}

.w-197 {
  min-width: 197px;
}

.w-198 {
  min-width: 198px;
}

.w-199 {
  min-width: 199px;
}

.w-200 {
  min-width: 200px;
}

.error {
  color: red;
  font-size: 12px;
}

.logo-text {
  font-size: 16px;
  font-weight: bold;
  color: #0090cf;
}

.btn-refresh {
  border: 1px solid #99abb4;
}

.block_fee_template {
  display: none;
}

.title-table {
  font-weight: bold;
}

.dataTables_empty {
  text-align: center !important;
}

.tooltip-date {
  display: none;
  background: #000000;
  margin-left: 28px;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  position: absolute;
  z-index: 1000;
  width: 200px;
  top: 10px;
}

.tooltip-date p {
  margin-bottom: 1px;
  color: #fff;
}

.tooltip-date #tooltip-day {
  font-weight: bold;
}

.tooltip-date::before {
  content: "";
  vertical-align: middle;
  margin: auto;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  top: calc(100% - 6px);
  width: 12px;
  height: 12px;
  transform: rotate(45deg);
  background-color: #000000;
}

.show {
  display: block;
}

.table-action {
  display: flex;
}

.table-action a {
  margin: 0 5px;
}

.ov-scroll {
  overflow-y: scroll;
}

